.nav-bars {
  width: 40px;
  height: 40px;
  position: fixed;
  left: 35px;
  top: 20px;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bars:hover {
  cursor: pointer;
}
.inner-nav-bars {
  width: 45%;
  height: 35%;
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.nav-bars:hover {
  background-color: rgba(255, 255, 255, 0.219);
  border-radius: 50%;
}
.line {
  width: 100%;
  height: 1px;
  background-color: white;
}
.nav-outer {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.253);
  top: 0px;
  left: 0px;
  transition: 0.3s;
  z-index: 4;
}
.nav {
  position: relative;
  left: -290px;
  width: 290px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.384);
  transition: 0.3s;
  display: flex;
  justify-content: center;
  z-index: 4;
}
.false {
  left: 0px;
}
.opacity {
  opacity: 0;
}
.nav-inner {
  width: 260px;
  height: 400px;
  display: flex;
  align-items: flex-end;
}
.nav-section-one {
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.nav-link {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}
.nav-link:hover {
  background-color: rgba(233, 233, 233, 0.315);
}
.link-left {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-right {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}
a:link {
  text-decoration: none;
}
.icon {
  width: 50%;
  height: 50%;
  fill: black;
}

body.stop-transitions * {
  transition: none !important;
}
